<div class="container-sm">
  <h1>Your cart</h1>
  <mat-card>
    <mat-list>
      <mat-list-item *ngFor="let cart of cartItems">
        <span matListItemTitle>{{cart.name}}</span>
        <span matListItemLine>{{cart.price | currency: 'USD'}}</span>
      </mat-list-item>
      <mat-list-item *ngIf="cartItems.length === 0">
        <span matListItemLine>No products in cart</span>
      </mat-list-item>
      <div class="subWrap">
        <mat-list-item class="price-wrap">
          <span matListItemTitle class="price">Total: </span><span matListItemLine>{{totalPrice | currency: 'USD'}}</span>
        </mat-list-item>
        <div>
          <mat-list-item class="text-right">
            <button mat-flat-button (click)="clearCart()">Clear</button>
          </mat-list-item>
          <mat-list-item class="text-right">
            <button mat-raised-button color="accent" (click)="checkOutCart()">Checkout</button>
          </mat-list-item>
        </div>
      </div>
    </mat-list>
  </mat-card>
</div>
